<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %> 
    </head>
  <body>
    <% include partials/menu %>
    <div class="container bg-3 text-center">    
      <h3><%= page %></h3><br>
      <div class="row">
        <h1>404</h1>
      </div>
    </div>
  </body>
  <% include partials/script %>
</html>
