<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
  <body class = "backgroundimg">
    <% include partials/menu %>
    <div class="container bg-3 text-center">
      <div class = "welcomemsg">WELCOME</div>
      <div class = "enteroptions">
      <a href='newUser' class = "option">
        <div class = "enterbutton"> I am a dealer </div>
      </a>
      <a href='userlist' class = "option">
        <div class = "enterbutton"> I am looking for a dealer</div>
      </a>
    </div>
    </div>
  </body>
  <% include partials/script %>
</html>
