<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
  <body>
    <% include partials/menu %>
    <div class="container bg-3 text-center">
      <h3><%= page %></h3><br>
      <div class="row">
        <p>Hello, World! Welcome to <%= page %></p>
        <div class="col-sm-4">
          <p> This website allows you to create dealers and rate dealers. </p>
        </div>
        <div class="col-sm-4">
          <a href = "userlist" class = "instruct"> Click Here to see a list of dealers.</a>
        </div>
        <div class="col-sm-4">
          <a href = "newUser" class = "instruct"> Click here to create a dealer.</a>
        </div>
      </div>
    </div>
  </body>
  <% include partials/script %>
</html>
