html{
  background: url('waterfall.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.welcomemsg{
  font-size: 50px;
}
.bg-3 {
  background: rgba(255,255,255,0.7);
  color: #0B486B;
  position: absolute;
  height: 80%;
  width: 100%;
  display: inline-block;
  padding-top: 5%;
  padding-bottom: 5%;
}
.enteroptions{
  display: inline-block;
  width: inherit;
  height: inherit;
}
.option{
  margin-left: 20px;
}
.enterbutton{
  font-size: 35px;
  background: #3B8686;
  height: 15%;
  position: relative;
  color:#ffffff;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding:5px 15px 5px 15px;
}
a:link{
  text-decoration: none;

}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #3B8686
}
.navbar-nav  li a:hover {
  color: #A8DBA8 !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #A8DBA8;
  background-color: #0B486B;
}

.navbar-default .navbar-nav>li>a {
  color: #0B486B;
}

.navbar-default .navbar-brand {
  color: #e8e8e8;
  font-size: 3em;
  font-weight: 200;
}

.navbar-default .navbar-brand> {
  color: #0B486B;
  font-weight: 200;
}

.active>a {
color: #A8DBA8 !important;;
}


span.small-caps {
  font-variant: all-small-caps;
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card {
  border: 1em;
  border-color: #555555;
}

html {
  background-color: #ffffff;
}
