.bg-3 { 
  background-color: #ffffff;
  color: #0B486B;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #3B8686
}
.navbar-nav  li a:hover {
  color: #A8DBA8 !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #A8DBA8;
  background-color: #0B486B;
}

.navbar-default .navbar-nav>li>a {
  color: #0B486B;
}

.navbar-default .navbar-brand {
  color: #e8e8e8;
  font-size: 3em;
  font-weight: 200;
}

.navbar-default .navbar-brand> {
  color: #0B486B;
  font-weight: 200;
}

.active>a {
color: #A8DBA8 !important;;
}


span.small-caps {
  font-variant: all-small-caps;
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card {
  border: 1em;
  border-color: #555555;
}

html {
  background-color: #ffffff;
}